<table>
	<tr>
		<td>
			<span style="font-size:14px;"> 
				<span style="font-weight:bold;">Total:</span> 
				<span style="font-weight:bold;color:red;">
					$$orderTotal
				</span> 
			</span> 
		</td>
	</tr>
</table>	