.detail-box {
  margin-bottom: 20px;

  .header {
    background-color: #F5F8FA;
    border-color: #e1e7eb;
    border-style: solid;
    border-width: 1px;
    color: #869CAD;
    display: block;
    font-weight: 500;
    margin-bottom: -1px;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;
    word-wrap: break-word;
    margin-bottom: 0;
  }

  .body {
    padding: 10px;
    border: 1px solid #e1e7eb;
    border-top: none;
  }
}
