[$CHECKOUT_DATE$]<br>
[$CUSTOMER_NAME$] placed an order.<br>
<br>
Customer Info:<br>
<br>
Email: [$CUSTOMER_EMAIL$]<br>
[$CUSTOMER_CONTACT_INFO$]<br>
<br>
Order Info:<br>
[$ORDER_SUMMARY$]<br>
[$ORDER_TOTAL$]